#contato {
	background-color: white;
	color: $blue-dark;
	padding: 35px;
	position: relative;
	.contact-list {
		display: block;
		max-width: 300px;
		margin: 0 auto;
		margin-top: 50px;
		&>li {
			margin-bottom: 15px;
			text-align: center;
		}
	}
	.contact-link {
		font-size: rem(20px);
		color: $blue-dark;
	}
	.ab-center {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		max-width: 800px;
		height: 50%;
		margin: auto;
	}
}
