<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Warley Franco - Front End Developer</title>
    <meta name="description" content="Warley Franco - Front End Developer">

    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png" />
	<!-- OG Metatag -->
	<meta property="og:url" content="http://www.warleyfranco.com.br">
    <meta property="og:title" content="Warley Franco - Front End Developer">
    <meta property="og:image" content="http://www.warleyfranco.com.br/assets/img/share-image.png">
    <meta property="og:description" content="Warley Franco - Front End Developer">
    <meta property="og:site_name" content="Warley Franco - Front End Developer">
    <!-- Close OG Metatag -->

    <meta name="msapplication-TileColor" content="#1d2859">
	<meta name="theme-color" content="#1d2859">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/main.css">
</head>