* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--text);
}

body, html {
  width: 100%;
  background: var(--background);
}

:root {
  --background: #f8f8f8;
  --white: #fff;
  --black: #000;
  --text: #333;
  --primary: #4C0059;
  --primary-light: #740488;
  --secondary: #fed672;
  --tertiary: #0D4332;
  --contrast: #ff4a97;
  --accent: #04febf;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --font-size-lg: 3rem;
  --font-size-md: 2rem;
  --font-size-sm: 1rem;
}

